* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: black;
    color: #fff;
    text-align: center;
    font-family: 'Inter', sans-serif;
    overflow-y: hidden;
}

p {
    font-size: 5.5rem;
    font-weight: 500;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100%;
}